<div class="container">
  <header>
    <h1>Contact Us</h1>
  </header>

  <div class="content">
    <div class="section phone">
      <fa-icon [icon]="faPhone"></fa-icon>
      <p>By phone</p>
      <p>Monday to Friday, 9am to 5pm</p>
      <p>Ro: +40 722 751 363</p>
      <p>International : +40 722 751 363</p>
    </div>
    <div class="section case">
      <fa-icon [icon]="faCodepen"></fa-icon>
      <p>Start a new case</p>
      <p>Just send us your questions or concerns by starting a new case and we will give you the help you need</p>
      <button>Start New Case</button>

    </div>
    <div class="section chat">
      <fa-icon [icon]="faRocketchat"></fa-icon>
      <p>Live Chat</p>
      <p>Chat with a member of our in-house team</p>
      <button>Start Chat</button>
    </div>

  </div>

</div>