<div class="container">
  <h1>Forgot Password</h1>
  <div class="form-div">
    <div class="p-div">
      <p>1. Enter your email <span>⌨️</span></p>
      <p>2. Hit the button </p>
      <p>3. Follow the instructions received in your email <span>📩</span></p>
    </div>
    <div class="input-div">
      <input type="text" [(ngModel)]="email" placeholder="Enter your email..." />
    </div>
    <div class="button-div">
      <button (click)="resetForm()">Send Instructions</button>
    </div>
  </div>
</div>