$main-color: rgb(52, 108, 52);

.container {
  min-height: 100vh;
  background-color: #676767c1;

  .big-image-div {
    width: 100%;
    height: 400px;
    position: relative;

    h1 {
      position: absolute;
      top: 15px;
      right: 15px;
      font-family: 'Protest Revolution';
      color: white;
      font-size: 40px;
    }

    .image-div {
      height: 100%;
      overflow: hidden;
      display: flex;
      align-items: center;

      img {
        width: 100%;
        align-self: flex-start;
      }
    }
  }
}

.platform-available {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  height: 80px;
  padding: 20px;
  right: 0;
  bottom: 0;
  background-color: #333333c1;

  .platform-h2-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;

    h2 {
      font-family: 'Protest Revolution';
      color: white;
      margin: 0;
      padding: 0;
    }
  }

  .platform-image-div {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
      width: 50px;
    }
  }
}

.info-div {
  height: 300px;
  padding-top: 40px;
  position: relative;
  display: flex;
  justify-content: space-between;
  color: white;

  .description {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 40px 60px 60px 60px;

    span {
      background-color: $main-color;
      padding: 4px 8px;
      margin-right: 5px;
      border-radius: 4px;
    }
  }

  .price-div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;

    h1 {
      margin-bottom: 5px;

      span {
        font-size: 12px;
      }
    }

    .buttons-div {
      display: flex;
      width: 100%;
      gap: 10px;
      justify-content: center;

      button {
        background-color: $main-color;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        color: white;
        cursor: pointer;
      }

      button:hover {
        background-color: rgb(8, 122, 84);
      }

      .heart {

        fa-icon {
          height: 20px;
          width: 20px;
        }
      }

      .add-to-cart {
        width: 400px;
      }

    }
  }


  .image-div {
    width: 400px;
    height: 260px;
    position: absolute;
    top: -180px;
    left: 10%;
    overflow: hidden;
    border-radius: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover
    }
  }

  h1 {
    margin: 0;
    padding: 0;
  }
}

@media(max-width:1000px) {
  .info-div {
    .image-div {
      width: 320px;
      height: 180px;
      top: -90px
    }
  }
}

@media(max-width:750px) {
  .info-div {
    .image-div {
      display: none;
    }
    .description {
      padding: 20px 0;
    }
  }

  .container {
    .big-image-div {
      height: fit-content;
      height: 300px;

      h1 {
        font-size: 20px;
      }

      .image-div {
        img {
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

@media(max-width:550px) {
  .container {
    .big-image-div {
      height: fit-content;
      height: 300px;

      h1 {
        font-size: 20px;
      }

      .image-div {
        img {
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .platform-available {
    width: 250px;
    height: 60px;

    .platform-h2-div {
      width: 30%;

      h2 {
        font-size: 15px;
        line-height: 18px;
      }
    }

    .platform-image-div {
      width: 70%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      img {
        width: 30px;
      }
    }
  }

  .info-div {
    padding-top: 40px;
    flex-direction: column;

    .image-div {
      display: none;
    }

    .description {
      padding: 0;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      padding: 0 40px;

      p {
        font-size: 10px;
        text-align: left;
      }
    }

    .price-div {
      padding-top: 0;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;

      .buttons-div {

        .heart {
          width: 40px;
          height: 40px;
          padding: 0;
        }

        .add-to-cart {
          width: 80%;
        }
      }
    }
  }
}