<footer>
  <div class="upper-div">

    <div class="trustpilot-div">
      <app-star-rating></app-star-rating>
    </div>

    <div class="aHref-div">
      <ul>
        <li>Term of use</li>
        <li>Privacy policy</li>
        <li>Contact us</li>
        <li>FAQ</li>
        <li><fa-icon [icon]="faGift"></fa-icon> Redeem a Gift Card</li>
        <li><fa-icon [icon]="faSearch"></fa-icon> Find the lastest video game news</li>
      </ul>
    </div>

    <div class="right-div">
      <div class="store-div">
        <img src="../../../assets/Small Pictures/apple-app-store-logo.png" alt="">
        <img src="../../../assets/Small Pictures/play-store-logo.png" alt="">
      </div>
    </div>

  </div>



  <div class="lower-div">
    <p>Copyright &copy; 2024 X-Games. All rights reserved.</p>
  </div>


</footer>

