<div class="container">

  <div class="container2">

    <div>
      <h1>Welcome to X-Games</h1>
    </div>

    <div>
      <h2>🎮 Explore a Vast Collection: </h2>
      <p>Discover an extensive collection of games spanning various genres, from action-packed adventures to
        mind-bending puzzles. Whether you're into heart-pounding shooters, captivating role-playing games, or
        family-friendly fun, GameHub has something for every gaming enthusiast.</p>
    </div>

    <div>
      <h2>💸 Irresistible Deals and Discounts: </h2>
      <p>At X'Games, we understand the value of a good deal. Enjoy regular promotions, exclusive bundles, and discounts
        on your favorite titles. Level up your gaming library without breaking the bank!</p>
    </div>

    <div>
      <h2>🌐 User-Friendly Interface: </h2>
      <p>Our website boasts a user-friendly interface designed with gamers in mind. Easily navigate through our catalog,
        read detailed game descriptions, and access user reviews to make informed decisions on your next gaming
        adventure.</p>
    </div>

    <div class="box">
      <div><img src="../../../assets/Small Pictures/circle.png" alt=""></div>
      <div><img src="../../../assets/Small Pictures/square.png" alt=""></div>
      <div><img src="../../../assets/Small Pictures/x.png" alt=""></div>
      <div><img src="../../../assets/Small Pictures/x.png" alt=""></div>
      <div><img src="../../../assets/Small Pictures/square.png" alt=""></div>
      <div><img src="../../../assets/Small Pictures/triangle.png" alt=""></div>    
      <div><img src="../../../assets/Small Pictures/circle.png" alt=""></div>
      <div><img src="../../../assets/Small Pictures/triangle.png" alt=""></div>    
    </div>

  </div>

</div>