<div class="container">
  <header>
    <h1>Home</h1>
  </header>

  <section class="presentation">
    <div class="platform" (click)="goToPlatform('Playstation')"><img src="../../../assets/Small Pictures/Playstation.png" alt="a"></div>
    <div class="platform" (click)="goToPlatform('Xbox')"><img src="../../../assets/Small Pictures/Xbox.png" alt="a"></div>
    <div class="platform" (click)="goToPlatform('PC')"><img src="../../../assets/Small Pictures/PC.png" alt="a"></div>
    <div class="platform" (click)="goToPlatform('Nintendo')"><img src="../../../assets/Small Pictures/Nintendo.png" alt="a"></div>
    
    <img class="absolute" src="../../../assets/Random Pictures/controller3.png" >
  </section>
  
</div>