/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

$main-color: rgb(52, 108, 52);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Caveat', cursive;
  // font-family: 'Protest Revolution';  

}

a {
  text-decoration: none;
}






